html {
    height: 100%;
    width: 100%;
}

body {
  background-color: #f00;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
}

#container, .container {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sidebar {
    display: inline-block;
    width:30%;
    background-color: #eee;
    color: #333;
    height: 100%
}

.main {
    display: inline-block;
    width:70%;
}

.header {
    width: 100%;
    height: 20px;
    background-color: black;
    color: white;
    padding: 10px;
}

.header * {
    display: inline-block;
    padding-right: 30px;

}

.email {
    background-color: #ddd;
    color: #222;
    padding: 20px;
    margin: 10px;
}

.email .to:before, .email .from:before, .email .subject:before {
    font-weight: 600;
}

.email .to, .email .from, .email .subject {
    display: block;
}

.email .to:before {
    content: 'To: ';
}

.email .from:before {
    content: 'From: ';
}

.email .subject:before {
    content: 'Subject: ';
}
